<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

  <h1 class="text-3xl font-bold underline">
    <div class="mockup-phone">
      <div class="camera"></div> 
      <div class="display">
        <div class="artboard artboard-demo phone-1">Hi.</div>
        <button class="btn btn-accent">Marcello</button>
        <button class="btn btn-accent">Is The</button>
      </div>
    </div>
  </h1>
  