<div class="mb-5">

@switch(state) {
  @case('NOT_STARTED') {
    <div class="h-56 p-2 flex justify-center items-center bg-red-700 rounded" (click)="handleStart()">
      <div class="text-black font-bold">Clicca per iniziare!</div>
    </div>
  }
  @case('STARTED') {
    <div class="h-56 p-2 flex justify-center items-center bg-red-700 rounded" (click)="handleTooSoon()">
      <div class="text-black font-bold">Aspetta che diventi verde!</div>
    </div>
  }
  @case('MUST_CLICK') {
    <div class="h-56 p-2 flex justify-center items-center bg-green-700 rounded"  (click)="handleStop()">
      <div class="text-black font-bold">Clicca</div>
    </div>
  }
  @case('RESULT') {
    <div class="h-56 p-2 flex justify-center items-center bg-blue-400 rounded" (click)="handleSendAndStart()">
      <div class="text-black font-bold">Il tuo tempo é {{result}}ms</div>
    </div>
  }
  @case('TOO_SOON') {
    <div class="h-56 p-2 flex justify-center items-center bg-orange-400 rounded" (click)="handleStart()">
      <div class="text-black font-bold">Troppo veloce! aspetta il verde</div>
    </div>
  }
}

</div>
