<reaction-time [userId]="userId" *ngIf="userId"></reaction-time>

<h1 class="text-3xl font-bold text-center text-purple-500 mb-4">
  Top 10
</h1>

<div class="h-[50vh] bg-gray-900 text-white p-5 rounded-lg shadow-lg" style="max-height: 90vh; overflow-y: auto;">
  <ol class="list-decimal pl-5 pr-5">
    <li *ngFor="let item of topNLeaderboard(10); index as i" class="flex justify-between items-center bg-gray-800 rounded-lg p-3 m-2 hover:bg-gray-700 transition-colors">
      <div class="flex items-center">
        <div class="badge bg-neutral-focus text-neutral-content mr-2">{{ i == 0 ? '🥇' : i == 1 ? '🥈' : i == 2 ? '🥉' : '' }}{{ i + 1 }}</div>
        <span class="font-semibold p-1 rounded">{{item.name}}</span>
      </div>
      <div class="flex items-center">
        <small class="text-gray-300 ml-2">{{item.time}} ms</small>
      </div>
    </li>
  </ol>
</div>




<a routerLink="/login" class="btn btn-accent btn-block btn-outline hover:bg-accent-focus hover:text-white transition ease-in-out duration-300 mt-5">
  Logout
</a>
